:root {
  --target-marquee-width: 200px;
  --max-marquee-height: 3em;
  --background-color: #000000;
  --foreground-color: #f14402;
  --accent-color: #fabc04;

  /* Colors from BTTA logo */
  --white: #f4f4f4;
  --light-gray: #adaba9;
  --gray: #5b534a;
  --black: #000000;
  --red: #f14402;
  --yellow: #fabc04;
}

@font-face {
  font-family: "bitwise";
  src: url("fonts/bitwise.eot"); /* IE9 Compat Modes */
  src: /* IE6-IE8 */ url("fonts/bitwise.eot?#iefix") format("embedded-opentype"),
    /* Super Modern Browsers */ url("fonts/bitwise.woff2") format("woff2"),
    /* Pretty Modern Browsers */ url("fonts/bitwise.woff") format("woff"),
    /* Safari, Android, iOS */ url("fonts/bitwise.ttf") format("truetype"),
    /* Legacy iOS */ url("fonts/bitwise.svg#svgFontName") format("svg");
}

body {
  font-family: "bitwise", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--background-color);
  color: var(--foreground-color);

  font-size: 20pt;
}

header {
  text-align: center;
}

.App {
  width: 800px;
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.scoresContainer {
  flex: 1 1 auto;
}

.scores {
  width: 100%;
  display: grid;
  grid-template-columns: 0fr 1fr 0fr;
  column-gap: 1em;
  /* background-color: #ff00ff; */
  height: 100%;
}

/*
 * Make each item a flexbox container so we can properly position
 * and align things.
 */
.scores .gameName,
.scores .playerName,
.scores .score {
  display: flex;
}

/*
 * We insert hr elements rather than an underline because you can't really
 * underline css grid items. Because of this we need to force the hr elements to
 * be the full width of the grid.
 */
.scores .line {
  grid-column: 1 / 4;
  width: 100%;
  margin: 0px;

  display: block;
  border: none;
  color: white;
  height: 1px;
  background: var(--foreground-color);
  background: -webkit-gradient(
    radial,
    50% 50%,
    0,
    50% 50%,
    350,
    from(var(--foreground-color)),
    to(var(--background-color))
  );
}

.scores .newScore {
  color: var(--accent-color);
}

.scores .gameName {
  height: var(--max-marquee-height);
  width: var(--target-marquee-width);

  align-items: center;
  align-self: center;
}

.scores .gameName img {
  max-height: var(--max-marquee-height);
  width: var(--target-marquee-width);
  height: auto;
  display: block;
}

.scores .playerName {
  justify-self: right;
  align-self: center;
}
.scores .score {
  justify-self: right;
  align-self: center;
}
